In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("extended_career_dataset_9_10_students.csv")

In [3]:
df.head()

,Interest,Qualifications,Courses done,Skills,Want to pursue,Future career path (subject to be taken)
0,Social Work,9th Grade,Civics Workshop,Empathy,NGO Work,Humanities
1,Biology,10th Grade,Biology Basics,Observation,Medical,PCB
2,Technology,10th Grade,Intro to Coding,Problem Solving,Computer Science,CS with PCM
3,Business,10th Grade,Commerce Introduction,Communication,Entrepreneurship,Commerce
4,Business,10th Grade,Commerce Introduction,Communication,Entrepreneurship,Commerce

In [4]:
df["Interest"].unique()

array(['Social Work', 'Biology', 'Technology', 'Business', 'Arts',
       'Programming', 'Mathematics', 'Sports', 'Science', 'Design'],
      dtype=object)

In [5]:
df["Qualifications"].unique()

array(['9th Grade', '10th Grade'], dtype=object)

In [6]:
df["Courses done"].unique()

array(['Civics Workshop', 'Biology Basics', 'Intro to Coding',
       'Commerce Introduction', 'Drawing Course', 'Python Basics',
       'Vedic Maths', 'Sports Training', 'Basic Science',
       'Graphic Design Intro'], dtype=object)

In [7]:
df["Skills"].unique()

array(['Empathy', 'Observation', 'Problem Solving', 'Communication',
       'Creativity', 'Coding', 'Logical Reasoning', 'Teamwork',
       'Analytical Thinking', 'Aesthetic Sense'], dtype=object)

In [8]:
df["Want to pursue"].unique()

array(['NGO Work', 'Medical', 'Computer Science', 'Entrepreneurship',
       'Fine Arts', 'Software Developer', 'Statistics', 'Athletics',
       'Engineering', 'UX Designer'], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
columns = ["Interest" , "Qualifications" , "Courses done" , "Skills", "Want to pursue"]

for items in columns:
    df[items] = le.fit_transform(df[items])

In [10]:
df.shape

(300, 6)

In [11]:
df.head()

,Interest,Qualifications,Courses done,Skills,Want to pursue,Future career path (subject to be taken)
0,7,1,2,5,6,Humanities
1,1,0,1,7,5,PCB
2,9,0,6,8,1,CS with PCM
3,2,0,3,3,3,Commerce
4,2,0,3,3,3,Commerce

In [12]:
df["Interest"]

0      7
1      1
2      9
3      2
4      2
      ..
295    6
296    8
297    4
298    4
299    6
Name: Interest, Length: 300, dtype: int32

In [13]:
df["Future career path (subject to be taken)"].unique()

array(['Humanities', 'PCB', 'CS with PCM', 'Commerce',
       'Humanities with Arts', 'PCM', 'Physical Education',
       'Humanities with Design'], dtype=object)

In [14]:
x= df.drop("Future career path (subject to be taken)", axis=1)
y = df["Future career path (subject to be taken)"]

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [16]:
from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier()
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Classification Report:
                         precision    recall  f1-score   support

           CS with PCM       1.00      1.00      1.00        11
              Commerce       1.00      1.00      1.00         5
            Humanities       1.00      1.00      1.00         6
  Humanities with Arts       1.00      1.00      1.00         7
Humanities with Design       1.00      1.00      1.00         7
                   PCB       1.00      1.00      1.00         5
                   PCM       1.00      1.00      1.00        11
    Physical Education       1.00      1.00      1.00         8

              accuracy                           1.00        60
             macro avg       1.00      1.00      1.00        60
          weighted avg       1.00      1.00      1.00        60

In [17]:
import pickle
with open('decision_tree_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [18]:
from joblib import dump, load
dump(model, 'career_path_model.pkl')

['career_path_model.pkl']